aside{
    background-color: maroon;
    float: right;
    width: 33%;
    padding: 5px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
    font-size: 120%;
    font-style: italic;
} 

button {
    background-color: blueviolet;
    border: 12px burlywood groove;
    color: gold;
    text-align: left;    
    font-size: 22px;
    padding: 12px;
    text-align: left;
}

header{

background-color: goldenrod;

}

footer{
    background-color:indigo;
    text-align: center;
}

header p{
    text-align: center;
    font-weight: bold;
    font-size: 110%;
    border: 12px purple groove;
}

h1.foo {
    text-align: center;
    border: 12px purple groove;
}

h1#new-point{
    text-align: center;
}

img#list-button-utah{
    padding: 25px;
    width: 250px;
    float: left;

    
}

main{
    background-color: greenyellow;
}

 button.test-button {
    padding: 25px;
    background-color: blue;
    border-width: 10px;
    border-style: double;
    border-color: brown;
    border-radius: 50px;
    /*Example of a "short hand" way of setting borders, [border: 15px Yellowgreen solid]*/
    
}

button.test-button:hover{
    background-color: aqua;
}

.byline{
    font-style: italic;
    font-size: 100%;
}

button.margin-button{
    margin: 25px;
    padding: 25px;
    background-color: blue;
    border-width: 10px;
    border-style: double;
    border-color: brown;
    border-radius: 50px;
}

div#margin-div{
    border: 1px yellowgreen solid;
    display: inline-block;

}

nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}
   