<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <!-- CSS should be in a file -->
    <style>
    .jumbotron
    {
      background-color:rgb(126, 160, 95);
    }
    </style>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
 
  <div class="jumbotron">
      <div class="p-3 mb-2 bg-warning text-dark">
      <h2>This is the song site home page</h2>
      <p>Welcome to the song site</p>
  </div>
</div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>