aside {
    background-color:powderblue;
    border: 15px Yellowgreen ridge;
    float: right;
    height: 50%;
    width: 500px;
    padding: 5px;
    margin: 8px;
    margin-right: 16px; 
}

body {
    background-color: orangered;
    background-image: url('../Theme-Midterm/Images/images.jpg');
    
}

.byline {
    font-style: italic;
    font-size: 25px;
}




/*KEEP*/
img {
    padding: 0px;
    width: 30%;
    height: 30%;
    border-radius: 500px;
    
    border: 25px purple ridge;
    
    margin-left: 0%;
} 

#sefu {
    padding: 0px;
    width: 30%;
    height: 30%;
    margin-left: -4%;
    border-radius: 500px;
    border: 5px purple ridge;
}


.locs,.Lauryn, .Braids {
    padding: 0px;
    width: 30%;
    height: 30%;
    margin-left: -4%;
    border: 5px purple ridge;
}

main {
   /* background-color: grey; */
   background-color: aquamarine;
}


header{
    /*background-color: aquamarine;*/
    background-color: rosybrown
}
/*KEEP*/
footer {
    background-color: teal;
    text-align: center;
    margin-top: 100px;
}


nav {        
    background-color: cornflowerblue;
    border: 5px green ridge;
    border-radius: 500px;
    padding: 8px;
    margin: 22px 22px;
    text-align: center;
}



#weaveID {
    float: left;
    width: 300px;
}



header p {
    font-weight: bold;
        color: black;
}
.h1Class  {
    background-color: aquamarine;
}

    #weaveP {
        background-color: cornflowerblue;
    border: 5px green ridge;
    border-radius: 500px;
    padding: 8px;
    margin: 22px 22px;
    text-align: center;
    }

#weavePage {
    padding: 0px;
    width: 30%;
    height: 30%;
    margin-left: -4%;
    border: 5px purple ridge;
}